@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter';
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3159d1;
}

@layer components {
  .btn-primary {
    @apply bg-royal-blue text-white px-6 py-3 rounded-lg font-medium hover:bg-blue-700 transition duration-300;
  }
  
  .btn-secondary {
    @apply bg-gray-200 text-gray-800 px-6 py-3 rounded-lg font-medium hover:bg-gray-300 transition duration-300;
  }
  
  .section-padding {
    @apply py-12 px-4 md:py-16 lg:py-20;
  }
  
  .container-padding {
    @apply px-4 md:px-6 lg:px-8;
  }
}
